# Compiler Results
*.o
*.gcno
*.pyc

# Logs
appview.log

# Editor Temps
*.swp
**/*.swp
.idea
.DS_Store

# Test Leftovers
/venv
/coverage/
/test/selfinterpose/
/test/integration/logs
**/*.gcda
**/*.gcov
**/.test/
/newdir/
/testtempdir1/
/testtempdir2/
/certs/
/test/integration/logs

# Website Temps
/website/.env
/website/public/
/website/node_modules/
/website/.cache/

# CLI
cli/run/bundle.go
cli/build/*
cli/!build/.gitkeep
cli/coverage.out
cli/demo/demo-scripts/willsee.txt
cli/demo/demo-scripts/wontsee.log
cli/VERSION
